.panel {
  position: fixed !important;
  top: 20px;
  right: 20px;
  background-color: gray;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  gap: 1em;
  z-index: 9999999;
}

button {
  padding: 10px 30px;
}

.mode-button {
  background-color: lightgray;
  color: black;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
}

.mode-button.active {
  border: 1px solid darkorange;
  color: darkorange;
}
