.mode-button {
  background-color: lightgray;
  color: black;
  width: 100%;
  outline: none;
  border: none;
  border-radius: 10px;
}

.mode-button.active {
  border: 1px solid darkorange;
  color: darkorange;
}
